<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OAuth Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
<div class="container">
    <h1>소셜 로그인</h1>
    <p>사용할 계정을 선택하세요.</p>

    <button class="oauth-button google" onclick="loginWith('google')">
        <i class="fab fa-google"></i> Google로 로그인
    </button>

    <button class="oauth-button kakao" onclick="loginWith('kakao')">
        <i class="fas fa-comment"></i> Kakao로 로그인
    </button>

    <button class="oauth-button naver" onclick="loginWith('naver')">
        <i class="fas fa-bold"></i> Naver로 로그인
    </button>
</div>

<script th:inline="javascript">
    // 백엔드의 환경 변수에서 안전하게 클라이언트 ID를 가져옵니다.
    const oauthConfig = {
        google: {
            clientId: /*[[${@environment.getProperty('oauth.google.client-id')}]]*/ '',
            redirectUri: /*[[${@environment.getProperty('oauth.google.redirect-uri')}]]*/ ''
        },
        kakao: {
            clientId: /*[[${@environment.getProperty('oauth.kakao.client-id')}]]*/ '',
            redirectUri: /*[[${@environment.getProperty('oauth.kakao.redirect-uri')}]]*/ ''
        },
        naver: {
            clientId: /*[[${@environment.getProperty('oauth.naver.client-id')}]]*/ '',
            redirectUri: /*[[${@environment.getProperty('oauth.naver.redirect-uri')}]]*/ ''
        }
    };

    const naverLoginState = /*[[${state}]]*/ null;

    function loginWith(provider) {
        let url;
        const config = oauthConfig[provider];

        switch(provider) {
            case 'google':
                // Google은 state가 필수는 아니지만, 보안을 위해 추가하는 것이 좋음
                url = `https://accounts.google.com/o/oauth2/v2/auth?` +
                    `client_id=${config.clientId}&` +
                    `redirect_uri=${config.redirectUri}&` +
                    `response_type=code&` +
                    `scope=openid email profile&`
                break;
            case 'kakao':
                // 카카오도 state 사용 가능
                url = `https://kauth.kakao.com/oauth/authorize?` +
                    `client_id=${config.clientId}&` +
                    `redirect_uri=${config.redirectUri}&` +
                    `response_type=code&`;
                break;
            case 'naver':
                if (!naverLoginState) {
                    alert('네이버 로그인에 필요한 상태 토큰이 없습니다. 페이지를 새로고침 해주세요.');
                    return;
                }
                url = `https://nid.naver.com/oauth2.0/authorize?` +
                    `client_id=${config.clientId}&` +
                    `redirect_uri=${config.redirectUri}&` +
                    `response_type=code&` +
                    `state=${naverLoginState}`;
                break;
            default:
                alert("지원하지 않는 로그인 방식입니다.");
                return;
        }
        window.location.href = url;
    }
</script>
</body>
</html>
